<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
       http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <security:http auto-config="false" use-expressions="true">
        <security:csrf disabled="true"/>
        <security:form-login login-page="/admin/login" login-processing-url="/admin/security/login"
                             authentication-success-handler-ref="authenticationSuccessHandler"
                             authentication-failure-handler-ref="authenticationFailureHandler"/>
        <security:logout logout-url="/admin/logout" success-handler-ref="logoutSuccessHandler"/>
        <security:access-denied-handler ref="accessDeniedHandler"/>
        <security:session-management>
            <security:concurrency-control max-sessions="999" error-if-maximum-exceeded="true"/>
        </security:session-management>
        <security:custom-filter ref="securityInterceptorFilter" after="FILTER_SECURITY_INTERCEPTOR"/>
    </security:http>
    <bean id="securityInterceptorFilter" class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor">
        <property name="authenticationManager" ref="authenticationManager"/>
        <property name="accessDecisionManager" ref="accessDecisionManager"/>
        <property name="securityMetadataSource" ref="securityMetadataSource"/>
    </bean>
    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider ref="authenticationProvider"/>
    </security:authentication-manager>
    <bean id="authenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
        <property name="hideUserNotFoundExceptions" value="false"/>
        <property name="userDetailsService" ref="userDetailService"/>
        <property name="passwordEncoder" ref="passwordEncode"/>
    </bean>
    <bean id="passwordEncode" class="org.springframework.security.authentication.encoding.Md5PasswordEncoder"/>
</beans>